.result-row-header {
	font-size: 30px;
	margin-top:20px;
	margin-bottom:10px;
	text-align: center;
}
.result-row {
	width:100%;
}
.result-category:first-child {
	border-left:0px;
	padding-right:20px;
	margin-bottom:10px;
}
.result-category {
	/*background-color: #030202;*/
	padding:10px 10px 10px 20px;
	border-left:1px solid rgba(255,255,255,0.3);
	float:left;
}
.result-category-heading {
	width:100%;
	margin-bottom: .5rem;
	font-size: 20px;
}
.result-category-heading-fillet {
	width:100%;
	height:2px;
	background-image: linear-gradient(to right, #222222 0%, #222222 30%, rgba(255,255,255,0.3) 30%, rgba(255,255,255,0.3) 70%, #222222 70%, #222222 100%);
/*	background-position: bottom;
	background-size: 3px 1px;*/
	background-repeat: repeat-x;
}
.result-category-count {
	width:100%;
	margin:15px auto 20px;
	font-size: 50px;
	letter-spacing: 3px;
}
.result-category-sources-heading{
	width:100%;
	color:#999;
	margin:0 auto 10px;
}
.result-category-sources-heading-fillet {
	width:100%;
	height:1px;
	background-image: linear-gradient(to right, #222222 0%, #222222 40%, rgba(255,255,255,0.3) 40%, rgba(255,255,255,0.3) 60%, #222222 60%, #222222 100%);
/*	background-position: bottom;
	background-size: 3px 1px;*/
	background-repeat: repeat-x;
}
.result-category-sources-list {
	list-style:none;
	padding-left:0px;
	margin-left:0px;
	color:#999;
	display:table;
	width:100%;
	text-align: center;
	margin-top:10px;
}
.result-category-sources-item {
	float:left;
}
.sources-item-title {
	width:100%;
}
.sources-item-count {
	width:100%;
}
.result-category-actions {
	width:100%;
	padding-left:25%;
	padding-right:25%;
}
.result-category-detail-btn, .result-category-detail-btn:focus {
	transition: 0.2s ease;
	border-radius:0px;
	text-transform: none;
	font-weight:500;
	background-color: #0089d0;
	color:#fff;
}

/***********************************/
/* Result Detail View CSS Settings */
/***********************************/
.result-detail-overlay {
	display:none;
	z-index: 9998;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.5);
}
.result-detail-container {
	/*display: none;*/
	z-index: 9999;
	position: absolute;
	left:20px;
	right:20px;
	top:10%;
	/*height:100%;
	max-height:600px;*/
	bottom:10%;
	background-color: #fff;
	overflow-y: auto;
}
.result-detail-container > .nav-tabs .nav-link {
	border-radius: 0px;
}
.result-detail-content {
	width:100%;
	padding:10px 5px;
	/*margin:10px;*/
}
.result-detail-table > .container-fluid {
	padding-right:0px;
	padding-left:0px;
}
.result-detail-table > .dataTables_wrapper .dataTables_filter {
	text-align: left;
	float:left;
	width:49%;
}
.result-detail-table > .dataTables_wrapper .dataTables_filter input {
	margin-left: 0px;
	border-radius: 0px;
}
.result-detail-table > .dataTables_wrapper .dataTables_info {
	padding-top: 0.25em;
	text-align:right;
}